#sfdc-ks {
  background: rgba(32, 32, 32, 0.85) none repeat scroll 0;
  z-index: 1002;
  color: #fff;
  left: 4%;
  top: 5%;
  width: 92%;
  position: fixed;
  border-radius: 7px;
  padding: 1em;
}

#sfdc-ks #title {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #999;
}

#sfdc-ks table {
  width: 100%;
  font-size: 16px;
  padding-top: 10px;
}

#sfdc-ks table tr:first-child {
  font-size: 18px;
  color: yellow;
}

#sfdc-ks table td:first-child {
  font-weight: bold;
  font-family: "courier new";
  text-align: right;
  width: 120px;
}

#sfdc-ks table td {
  color: white;
}

#sfdc-ks table .yellow {
  color: yellow;
}


